{%extends "layout.html"%}
{%block content%}
<div class="container">
    <div class="row compartment" style="height: 400px;">
        <ol class="list-group">
            {% for el in element.articles %}
            <li>
                <a class="list-group-item" href="{{el.url}}" target="blank_">{{el.title}}</a>
                <p class="list-group-item" style="font-size: 15px;" >{{ el.description }}</p>
            </li>
            {%endfor%}
        </ol>
    </div>
</div>
{%endblock content%}