{%extends "layout.html"%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-3 compartment d-flex flex-column" style="height: 400px;">

            <div class="topic" style="flex: 2;">
                Geopolitics
            </div>
            <div class="descriptn" style="flex: 8;">
            <ol>
{% for el in element1 %}
<li>{{el.get_text(strip=True)}} </li>

{% endfor %}
</ol>           
            </div>

        </div>
        <div class="col-3 compartment d-flex flex-column" style="height: 400px;">

            <div class="topic" style="flex: 2;">
                National
            </div>
            <div class="descriptn" style="flex: 8;">
                <ol>
                    {% for el in element2 %}
                    <li>{{el.get_text(strip=True)}} </li>
                    
                    {% endfor %}
                    </ol>           
            </div>

        </div>
        <div class="col-3 compartment d-flex flex-column" style="height: 400px;">

            <div class="topic" style="flex: 2;">
                Breaking
            </div>
            <div class="descriptn" style="flex: 8;">
                <ol>
                    {% for el in element3 %}
                    <li>{{el.get_text(strip=True)}} </li>
                    
                    {% endfor %}
                    </ol>           
            </div>

        </div>
        <div class="col-3 compartment d-flex flex-column" style="height: 400px;">

            <div class="topic" style="flex: 2;">
                Economy
            </div>
            <div class="descriptn" style="flex: 8;">
                <ol>
                    {% for el in element4 %}
                    <li>{{ el }} </li>
                    
                    {% endfor %}
                    </ol>          
            </div>

        </div>
    </div>
</div>
{%endblock content%}