{%extends "layout.html"%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-3 compartment d-flex flex-column" style="height: 400px;">

            <div class="topic" style="flex: 2;">
                FBUFV
            </div>
            <div class="descriptn" style="flex: 8;">
                efjhvgsjd fgbej hfcbs jdhmc gbdsjx hfngcd s bj xhgdsbc
            </div>

        </div>
        <div class="col-3 compartment d-flex flex-column" style="height: 400px;">

            <div class="topic" style="flex: 2;">
                FBUFV
            </div>
            <div class="descriptn" style="flex: 8;">
                efjhvgsjd fgbej hfcbs jdhmc gbdsjx hfngcd s bj xhgdsbc
            </div>

        </div>
        <div class="col-3 compartment d-flex flex-column" style="height: 400px;">

            <div class="topic" style="flex: 2;">
                FBUFV
            </div>
            <div class="descriptn" style="flex: 8;">
                efjhvgsjd fgbej hfcbs jdhmc gbdsjx hfngcd s bj xhgdsbc
            </div>

        </div>
        <div class="col-3 compartment d-flex flex-column" style="height: 400px;">

            <div class="topic" style="flex: 2;">
                FBUFV
            </div>
            <div class="descriptn" style="flex: 8;">
       vfnvjv  eljnvfljv rjbk rjfbnerkj rjnsjb jvblefj vkb fw fwkf wk fwk  wkhf wkhh vd khd vskdv rbnf kw  
            </div>

        </div>
    </div>
</div>
{%endblock content%}